.alert-box {
  color: black;
  padding: 20px;
  border-radius: 5px;
}

.id {
  background-color: aqua;
  display: none;
}

.passwd {
  background-color: greenyellow;
  display: none;
}

.flex {
  display: flex;
}
